@color-primary:#c4a983;
@color-primary2:#a78658;
@color-primary3:#eee1cc;
@color-sub:#a40000;
@color-active:#cd2e1b;
@base-bg-color:rgba(255,251,244,0.5);
@font-color:#3f3f3f;
@font-color-sub:#aaa;
@border-color:#3f3f3e;
@border-color2:#c6ac88;
@page_bg2:#fbf7f0;