@import './base-variables.less';

*{
  word-break: break-all;
}
body { font-size: 14px; color: @font-color; width: 100%; height: 100%; font-family: 'PingFang SC',"Helvetica Neue",Helvetica,Arial,sans-serif;background-color: @base-bg-color;
  overflow: hidden;padding: 0;margin: 0;}
html{height: 100%;}
* {margin: 0;font-style: normal; padding: 0; font-family: 'PingFang SC',"Helvetica Neue",Helvetica,Arial,sans-serif;}
input,button,select,textarea{ outline:none;}
textarea{resize:none;}
.text-ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.text-ellipsis-line{width: 100%; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.flexb{display: flex;justify-content: space-between;line-height: 25px;}

a{color:@font-color}
::-webkit-scrollbar{display:none;}

.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f30{font-size: 30px;}
.center{text-align: center}
.h10{height: 10px;line-height: 10px;}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}

.bold{font-weight: bolder;}
.red{color: @color-sub}
.black{color: #000000}
.khaki{color: #a78658}
.khaki2{color: #d2a778}
.gray{color: #aaaaaa;}
