.form {margin:  60px;
  .form-item{margin-bottom: 20px;
    &:last-of-type{margin-bottom: 60px;}
  }
}

.text-ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.text-ellipsis-line{width: 100%; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.flexb{display: flex;justify-content: space-between;line-height: 25px;}

input.input{padding: 0 10px;border: 0;outline:none;background: #eee;width:-webkit-fill-available;height: 35px;line-height: 35px;}