@import "base-variables";
.form {margin:  60px;
  .form-item{margin-bottom: 20px;
    &:last-of-type{margin-bottom: 60px;}
  }
}

.text-ellipsis{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;}
.text-ellipsis-line{width: 100%; display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.flexb{display: flex;justify-content: space-between;line-height: 25px;}

input.input{padding: 0 10px;border: 0;outline:none;background: #eee;width:-webkit-fill-available;height: 35px;line-height: 35px;}

.s-button{padding: 2px 10px;line-height: 22px; display: inline-block;border: 1px solid #cd2e1b;position: relative;background: #cd2e1b;color:#ffffff;}
.s-button::before {content: "";display: block;border: 2px solid #1b2a3d;position: absolute; left: 0;right: 0;top: 0;bottom: 0;}
.s-button.khaki::before{border-color:#fff3e2 }
